<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.datenightapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Date Night"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DateNightApp">

        <!-- HOME ACTIVITY -->
        <activity
            android:name=".HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- DECIDE ACTIVITY (formerly MainActivity) -->
        <activity
            android:name=".DecideActivity"
            android:parentActivityName=".HomeActivity" />

        <!-- LIST ACTIVITY -->
        <activity
            android:name=".ListActivity"
            android:parentActivityName=".DecideActivity" />

        <!-- RECIPE LIST ACTIVITY -->
        <activity
            android:name=".RecipeListActivity"
            android:parentActivityName=".HomeActivity" />

        <!-- RECIPE DETAIL ACTIVITY -->
        <activity
            android:name=".RecipeDetailActivity"
            android:parentActivityName=".RecipeListActivity" />

        <!-- ADD RECIPE ACTIVITY -->
        <activity
            android:name=".AddRecipeActivity"
            android:parentActivityName=".RecipeListActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>